# for now...
api
app/layer-example
app/example-2

node_modules
.env

.cache
.DS_Store
.nitro
.nuxt
.output
.vscode
*.log*
build
coverage
dist
tmp

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
