html {
  /*
  * Color settings
  */
  background-color: var(--background);
  color: var(--color);

  /*
  * Font settings
  */
  font-size: var(--rem);
  font-family: var(--font-family);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight);
  font-style: normal;
  letter-spacing: var(--letter-spacing);
  text-transform: var(--text-transform);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  /*
  * We treat font sizes are separate from the root em (--rem) seetting.
  */
  font-size: var(--font-base);

  /*
  * We prevent horizontal overflow
  */
  overflow-x: hidden;
}


