.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacer);
}

.muted {
  color: var(--muted) !important;
}

.muted-light {
  color: var(--muted-light) !important;

  &a, &.button,
  > a, > .button {
    transition: color var(--speed);

    :--highlight {
      color: var(--color) !important;
    }
  }
}
