.profile-header > h1 {
  font-size: var(--font-lg);
}

.token-mint-timeline > h1 {
  margin: 0 0 calc(var(--spacer) + var(--spacer-sm)) !important;
}


/*
* IMAGE adjustments
*/
.profile-header img,
.collection-intro img,
.collection-overview-card img,
.token-overview-card img {
  border: var(--border);
  border-radius: var(--border-radius);
}

.profile-header > img {
  border-radius: 50%;
}

