/*
* APP HEADER + BREADCRUMBS
*/
.app-header {
  padding: var(--ui-padding-y) var(--ui-padding-x) !important;
}

.breadcrumbs a,
.breadcrumbs > span:not(:has(> a)){
  padding: var(--ui-padding-y) calc(var(--ui-padding-x)/2);
}
.breadcrumbs span:after {
  padding: var(--ui-padding-y) 0;
  margin: 0 calc(-0.25 * var(--ui-padding-x)) 0 calc(0.25 * var(--ui-padding-x)) !important;
  z-index: 2;
}

.profile-header > h1 {
  font-size: var(--font-lg);
}

.token-mint-timeline > h1 {
  margin: 0 0 calc(var(--spacer) + var(--spacer-sm)) !important;
}


/*
* IMAGE adjustments
*/
.profile-header,
.collection-intro,
.collection-overview-card,
.token-overview-card {

  .image,
  img {
    border-radius: var(--border-radius);
  }

  img {
    border: var(--border);
  }
}

.profile-header > img {
  border-radius: 50%;
}

