:root {
  --font-family: monospace;
  --font-base: 14px;

  /*
  * Colors
  */
  --background: var(--black);
  --color:      var(--white);
  --primary:    red;

  /*
  * Borders
  */
  --border-color: var(--muted);

  /*
  * Components
  */
  --breadcrumb-separator-color: red;
}

