:root {

  /**
  * GRAY TONES
  * Inspired by the tailwind "Zinc" pallette.
  */
  --gray-50:  #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  --gray-950: #09090b;

  --gray-50-semi:  #fafafab9;
  --gray-100-semi: #f4f4f5b9;
  --gray-200-semi: #e4e4e7b9;
  --gray-300-semi: #d4d4d8b9;
  --gray-400-semi: #a1a1aab9;
  --gray-500-semi: #71717ab9;
  --gray-600-semi: #52525bb9;
  --gray-700-semi: #3f3f46b9;
  --gray-800-semi: #27272ab9;
  --gray-900-semi: #18181bb9;
  --gray-950-semi: #09090bb9;

  /**
  * COLORS
  */
  --primary:  var(--color);

  /*
  * FONTS
  */
  --font-family: sans-serif;
  --font-base: 14px;
  --font-lg: calc(var(--font-base) * 1.618);

  /*
  * UI ELEMENTS
  */
  --ui-font-family: monospace;
  --ui-font-size: 12px;
  --ui-text-transform: uppercase;
  --ui-font-weight: 500;

  /*
  * BORDERS
  */
  --border-color: var(--gray-z-3);
  --border-radius: var(--size-1);

  /*
  * COMPONENTS
  */
  --button-background-highlight: var(--gray-z-3);
  --card-background-highlight: var(--gray-z-3);
}

