/*
* APP HEADER + BREADCRUMBS
*/

.breadcrumbs a,
.breadcrumbs > span:not(:has(> a)){
  padding: var(--ui-padding-y) calc(var(--ui-padding-x)/2);
}
.breadcrumbs span:after {
  padding: var(--ui-padding-y) 0;
  margin: 0 calc(-0.25 * var(--ui-padding-x)) 0 calc(0.25 * var(--ui-padding-x)) !important;
  z-index: 2;
}

.profile-header > h1 {
  font-size: var(--font-lg);
}

.token-mint-timeline > h1 {
  margin: 0 0 calc(var(--spacer) + var(--spacer-sm)) !important;
}

.token-mint-timeline-item {
  > a {
    &:--highlight {
      text-decoration: underline;
    }
  }
}

/**
* TABS
*/
.tabs {
  > .button {
    &.active {
      border-bottom-color: var(--border-color) !important;
    }
  }
}

/**
* PRICE MODAL
*/

#about-gas {
  table:first-of-type {
    td:first-child {
      background: var(--gray-z-3);
    }

    tr:not(:last-child) td:first-child {
      border-bottom-color: var(--gray-z-2);
    }
  }

  table:last-of-type {
    th {
      background: var(--gray-z-3);
      border-bottom-color: var(--gray-z-2);

      &:not(:last-child) {
        border-right-color: var(--gray-z-2);
      }
    }

    td:has(input) {
      width: 25%;

      input {
        &.animate {
          background: var(--button-background-highlight);
        }
      }
    }
  }
}

/*
* IMAGE adjustments
*/
.profile-header,
.collection-intro,
.collection-overview-card,
.token-overview-card {

  .image,
  .embed,
  img,
  iframe {
    border-radius: var(--border-radius);
  }

  img,
  iframe {
    border: var(--border);
  }
}

.profile-header > img {
  border-radius: 50%;
}

