# =========================
#           BASE
# =========================
NITRO_PRESET=node_cluster
NUXT_SSR=false
NUXT_DEVTOOLS=true
NUXT_PUBLIC_DOMAIN=localhost
NUXT_PUBLIC_TITLE=Zinc Mint
NUXT_PUBLIC_DESCRIPTION=To mint is a human right.

# =========================
#         MAINNET
# =========================
# NUXT_PUBLIC_BLOCK_EXPLORER=https://etherscan.io
# NUXT_PUBLIC_FACTORY_ADDRESS=0xd717Fe677072807057B03705227EC3E3b467b670
# NUXT_PUBLIC_CHAIN_ID=1
# NUXT_PUBLIC_RPC1=https://eth.llamarpc.com
# NUXT_PUBLIC_RPC2=https://eth.drpc.org
# NUXT_PUBLIC_RPC3=https://1rpc.io/eth

# =========================
#         SEPOLIA
# =========================
NUXT_PUBLIC_BLOCK_EXPLORER=https://sepolia.etherscan.io
NUXT_PUBLIC_FACTORY_ADDRESS=0x750C5a6CFD40C9CaA48C31D87AC2a26101Acd517
NUXT_PUBLIC_CHAIN_ID=11155111
NUXT_PUBLIC_RPC1=https://ethereum-sepolia-rpc.publicnode.com
NUXT_PUBLIC_RPC2=https://sepolia.drpc.org
NUXT_PUBLIC_RPC3=https://1rpc.io/sepolia
